{{>head}}
<body>
    {{>header}}
    <div class="post">
        <form method="POST" action="/product/update/{{_id}}">
            <label for="name">Название</label>
            <input type="text" name="name" id="name" value={{name}}>
            <label for="email">Описание</label>
            <input type="text" name="description" id="description" value={{description}}>
            <label for="phone">Цена</label>
            <input type="text" name="price" id="price" value={{price}}>
            <button>Редактировать</button>
        </form>
    </div>
    {{>footer}}
</body>
</html>