{{>head}}
<body>
    {{>header}}
    <div class="post">
        <form method="POST" action="/product/update/{{_id}}">
            <label for="name">Название</label>
            <input type="text" name="name" id="name" value="{{name}}">
            <label for="email">Описание</label>
            <input type="text" name="description" id="description" value="{{description}}">
            <label for="phone">Цена</label>
            <input type="text" name="price" id="price" value="{{price}}">
            <label for="category">Выберите категорию</label>
            <select name="category" id="category">
                <option value="Sport">Спорт</option>
                <option value="Clothes">Одежда</option>
                <option value="Accessories ">Аксессуары</option>
                <option value="Technic">Техника</option>
                <option value="Games">Игровое</option>
            </select>
            <button>Редактировать</button>
        </form>
    </div>
    {{>footer}}
</body>
</html>