{{>head}}
<body>
    {{>header}}
    <h1>Магазин</h1>
    <h2>Товары</h2>
    <form action="/products/search/category">
        <label for="category">Выберите категорию:</label>
        <select name="category" id="category">
            <option value="Sport">Спорт</option>
            <option value="Clothes">Одежда</option>
            <option value="Accessories ">Аксессуары</option>
            <option value="Technic">Техника</option>
            <option value="Games">Игровое</option>
        </select>
        <button>Найти</button>
    </form>
    {{#if products}}
    {{#each products}}
    <ul>
        <li>Название: {{this.name}}</li>
        <li>Цена: {{this.price}}</li>
        <li><a href="/product/view/{{this._id}}">Подробнее</a></li>
        <li><a href="/cart/add/{{this._id}}">В корзину</a></li>
    </ul>
    {{/each}}
    {{/if}}
    {{>footer}}
</body>
</html>